.bio-pic {
    transform: translateY(4rem);
}

.container {
    max-width: 1200px;
}

.bio-reveal {
    opacity: 0;
    transform: translateY(5rem);
    transition-property: opacity, transform;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
}

.bio-visible {
    opacity: 1;
    transform: translateY(0);
}