.container {
    max-width: 1200px;
}

.reveal {
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
}

.visible {
    opacity: 1;
}

