.name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    animation-duration: 0.5s;
    animation-name: reveal-name;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

@keyframes reveal-name {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}